@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: Lato, sans-serif;
    position: relative;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


.game-container {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}


.header {
    background-color: #1C90FF;
    padding: 2rem;
    color: white;
    font-weight: bold;
}

.header > h1 {
    font-size: 3rem;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.icons > i {
    font-size: 5rem;
}

.player-container {
    padding: 0 2rem;
    margin: 2rem 0 3rem 0;
}

.player-container > h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.player-container > .icons {
    color: dodgerblue;
}

.computer-container {
    padding: 0 2rem;
    margin-bottom: 4rem;
}

.computer-container > h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.computer-container > .icons {
    color: red;
}

.reset-container {
    display: flex;
    justify-content: center;
}

.reset-container > i {
    font-size: 3rem;
}

.result-container {
    text-align: center;
    margin: 2rem 0;
    font-size: 5rem;
}

.color-black {
    color: black !important;
}


