@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: Lato, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



